{% extends 'base.html' %}

{% block title %} MacroTechBD | Home{% endblock title %}

{% block body%}
    {% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "assets/img/p_bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>MacroTech BD</h1>
                            <span class="subheading"><h2>*** We are the Future Of Bangladesh ***<h2></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
        {% for post in blogpost_list|slice:"0:3"%}
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'post' post.slug  %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{post.short_desc}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            {{ post.author }}
                            on {{ post.created_on }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                </div>
            </div>
    {% endfor %}
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'blogs' %}">Older Blogs →</a></div>
</div>

{% endblock body %}